$modal-background-color: white;
$modal-image-background-color: #F5F5F5;
$photographer-location-color: #838383;
$close-button-background-color: white;
$close-button-color: white;
$header-color: #1e1e1e;

$dark-modal-background-color: #636363;
$dark-modal-image-background-color: #818181;
$dark-photographer-location-color: #e0e0e0;
$dark-close-button-background-color: #636363;
$dark-close-button-color: #d0d0d0;
$dark-header-color: white;
 

.photo-details-modal {
  background-color: $modal-background-color;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 90%;
  width: 85%;
  overflow-y: scroll;
  border-radius: 12px;
}

// Dark mode
.dark-photo-details-modal {
  background-color: $dark-modal-background-color;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 90%;
  width: 85%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: $close-button-background-color;
  border: none;
  color: $close-button-color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

// Dark mode
.dark-photo-details-modal__close-button {
  background-color: $dark-close-button-background-color;
  border: none;
  color: $dark-close-button-color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  background-color: $modal-image-background-color;
}

// Dark mode
.dark-photo-details-modal__image {
  max-width: 95%;
  background-color: $dark-modal-image-background-color;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: $header-color;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

// Dark mode
.dark-photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: $dark-header-color;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: $photographer-location-color;
}

// Dark mode
.dark-photo-details-modal__photographer-location {
  color: $dark-photographer-location-color;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}
