.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.photo-list:after {
  content: "";
  margin: 5px;
}