$nav-bar-background-color: #FFFFFF;
$nav-bar-box-shadow-color: #222;
$nav-bar-logo-color: #111;

$dark-nav-bar-background-color: #2a2a2a;
$dark-nav-bar-box-shadow-color: #FFFFFF;
$dark-nav-bar-logo-color: #FFFFFF;

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  
  background-color: $nav-bar-background-color;
  -webkit-box-shadow: 0 4px 6px -6px $nav-bar-box-shadow-color;
  -moz-box-shadow: 0 4px 6px -6px $nav-bar-box-shadow-color;
  box-shadow: 0 4px 6px -6px $nav-bar-box-shadow-color;
  height: 72px;
  font-weight: 700;
}

// Dark mode
.dark-top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  
  background-color: $dark-nav-bar-background-color;
  -webkit-box-shadow: 0 4px 6px -6px $dark-nav-bar-box-shadow-color;
  -moz-box-shadow: 0 4px 6px -6px $dark-nav-bar-box-shadow-color;
  box-shadow: 0 4px 6px -6px $dark-nav-bar-box-shadow-color;
  height: 72px;
  font-weight: 700;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 700;
  font-size: 24px;
  color: $nav-bar-logo-color;
  text-underline-position: auto;
  margin-left: 24px;
}

// Dark mode
.dark-top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 700;
  font-size: 24px;
  color: $dark-nav-bar-logo-color;
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__right {
  display: flex;
  flex-direction: row;
  align-items: center;  
}